.jefernne{
    background-color: rgb(145, 145, 33);
    padding: 20px;
    width: 50%;
}
.Jefernne2{
    margin-left: 15px;
    padding: 15px;
    border-radius: 15px;
    color: blue;
    background-color: aqua;
}